<?xml version="1.0"?>
<config version="1.0" serial="9505" timestamp="1461577165.1499">
  <Lib>
    <Account>
      <IdleTimeForAway>0</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <LastUsed>1454644042</LastUsed>
      <LocalData>4215</LocalData>
      <Migration>63</Migration>
      <OMigration>1</OMigration>
    </Account>
    <Call>
      <ApplyCF>0</ApplyCF>
      <MissedCallsRegistrarAnchor>https://api.mcr.skype.com/clients/v1/users/Skype/b952040034/missed-calls?anchor=mcr20160229.20140104.NE1.FFFFFFFFFFFFFFFF;mcr20160229.20140104.WE1.FFFFFFFFFFFFFFFF;mcr20160229.20140104.WUS1.FFFFFFFFFFFFFFFF</MissedCallsRegistrarAnchor>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1460363961</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <g>
          <_380CE39>46cd3229:2</_380CE39>
          <_4937A86C>96446d25:2</_4937A86C>
          <_5F280D37>96b94032:2</_5F280D37>
          <_6583CCF0>f856a853:2</_6583CCF0>
          <CC26EB28>bebcf32:2</CC26EB28>
          <D5864D43>5fac3e40:2</D5864D43>
          <DFA3E5FC>e215e0c2:2</DFA3E5FC>
          <E49C9C55>1c8097d4:2</E49C9C55>
          <EA1C9EAE>99c3cf13:2</EA1C9EAE>
        </g>
        <p>
          <avatar>c9aba5b8:2</avatar>
          <email>853de87e:2</email>
          <mood>5aa0fbbc:2</mood>
          <phones>41dc0eff:2</phones>
          <profile>cf52f77:2</profile>
        </p>
        <u>
          <_.2B4917628774019>6aa80367:2</_.2B4917628774019>
          <a126040023>a313dde8:2</a126040023>
          <aczreg>db24004d:2</aczreg>
          <akms55ee>c16b1c04:2</akms55ee>
          <albert670815>d6a33772:2</albert670815>
          <alex.2E262393>eeade3f:2</alex.2E262393>
          <alihousex>30d7d47b:2</alihousex>
          <amosho.2Etruetel>d8d6ceb2:2</amosho.2Etruetel>
          <angel09112003>3eb51281:2</angel09112003>
          <asdeed3000>73edf7bd:2</asdeed3000>
          <bateastx>67c15bb:2</bateastx>
          <bettykuo12dec>6840ef18:2</bettykuo12dec>
          <bircraze>64d71038:2</bircraze>
          <blue75013>f5836c27:2</blue75013>
          <brianlai1014>3b7bb5ab:2</brianlai1014>
          <camp0102>83c3b61d:2</camp0102>
          <candy0802>f766da96:2</candy0802>
          <cedric.2Elizin7753>2d358797:2</cedric.2Elizin7753>
          <charge-tt>2414f0b2:2</charge-tt>
          <chubby_doggie>852dd807:2</chubby_doggie>
          <chucklintt>9a307ffd:2</chucklintt>
          <chungnono>508741dd:2</chungnono>
          <claire80515>6993f012:2</claire80515>
          <conandoyle3311>d4fb5c7a:2</conandoyle3311>
          <cychen.2Etruetel.2Ecom>530724f8:2</cychen.2Etruetel.2Ecom>
          <danny03210>7013fcd:2</danny03210>
          <david_tu0725>7d70f4f0:2</david_tu0725>
          <dhill4808>ec09325:2</dhill4808>
          <diamondstarr.2Ebellagirlie2>2f46ddd4:2</diamondstarr.2Ebellagirlie2>
          <dodcsabird>afff6aed:2</dodcsabird>
          <dsun86>fa323e9b:2</dsun86>
          <echo123>9db4df93:2</echo123>
          <ecila210>115a22b6:2</ecila210>
          <eden_tw>709907f7:2</eden_tw>
          <ellie.2Eliaw>e734b8b7:2</ellie.2Eliaw>
          <eric1230huang>5369c439:2</eric1230huang>
          <eronyang>f13d0723:2</eronyang>
          <eshigoing>cd742165:2</eshigoing>
          <ewings_tina>786a867d:2</ewings_tina>
          <finnho0413>3c7d5512:2</finnho0413>
          <frank_wangzhikang>2e3b5827:2</frank_wangzhikang>
          <frankieyeh1>43545186:2</frankieyeh1>
          <grayfox61722>a5018feb:2</grayfox61722>
          <hallwong.2Ejava>16803613:2</hallwong.2Ejava>
          <horgasz1975>149a6d7:2</horgasz1975>
          <hsin.2Ewen.2Ewei>8c1a8b25:2</hsin.2Ewen.2Ewei>
          <ivanou94>b26121c6:2</ivanou94>
          <j2160204>95360436:2</j2160204>
          <j359436224>1b4ee4c1:2</j359436224>
          <j666666x>2ff07254:2</j666666x>
          <jackie_chang481>8b9111bc:2</jackie_chang481>
          <jameslonely0515>1906eb0b:2</jameslonely0515>
          <janeyang1210>8a3a2575:2</janeyang1210>
          <jasontruetel>36866331:2</jasontruetel>
          <jdweiskype>5f2e074e:2</jdweiskype>
          <jjong.2Eshirley>d404d5a8:2</jjong.2Eshirley>
          <joycehsu.2Etruetel>7fd71810:2</joycehsu.2Etruetel>
          <kahkah677>a23eef65:2</kahkah677>
          <kevin.2Ekh.2Echen>94a8f3d:2</kevin.2Ekh.2Echen>
          <kingweng_tt>a9d26808:2</kingweng_tt>
          <kuno_kuo>8eb68734:2</kuno_kuo>
          <kuso0516>b6e99a8f:2</kuso0516>
          <lance_truetel>4d0fdebc:2</lance_truetel>
          <leopk37>5da40e60:2</leopk37>
          <lewis.2Ejohn483>2d15b1fb:2</lewis.2Ejohn483>
          <live.3Acchung_1>4b62f442:2</live.3Acchung_1>
          <live.3Achrisrf0331>e38aab67:2</live.3Achrisrf0331>
          <live.3Acutetanya0531>e110d485:2</live.3Acutetanya0531>
          <live.3Ah3834>ff85001d:2</live.3Ah3834>
          <live.3Ahbtsai_1>9dfd2055:2</live.3Ahbtsai_1>
          <live.3Aiam87king>26ac30ba:2</live.3Aiam87king>
          <live.3Alijie_31>f05e4c22:2</live.3Alijie_31>
          <live.3Alucasliu_3>564eaf28:2</live.3Alucasliu_3>
          <live.3Aredwingqq>a86ecbd8:2</live.3Aredwingqq>
          <live.3Aruyuxu>baf5a318:2</live.3Aruyuxu>
          <live.3Aserinchang>7c6129cb:2</live.3Aserinchang>
          <live.3Atravailen>17383308:2</live.3Atravailen>
          <live.3Awillie.2Ehsu>90498a6c:2</live.3Awillie.2Ehsu>
          <live.3Awuzhaoguo_1>3c906703:2</live.3Awuzhaoguo_1>
          <live.3Azhimingzhou_1>47270f4a:2</live.3Azhimingzhou_1>
          <lomeiwei>786d1fab:2</lomeiwei>
          <louis0119>2598c94d:2</louis0119>
          <lynn.2Ewangll>8d8a94aa:2</lynn.2Ewangll>
          <magiclin99>e71cf646:2</magiclin99>
          <manton770408>76a26af7:2</manton770408>
          <marcus.2Ewu0814>e146ab30:2</marcus.2Ewu0814>
          <marswenyu>b4ed4a70:2</marswenyu>
          <melody.2Ehq>6dcaf9fc:2</melody.2Ehq>
          <mic.2Emhchen>5ba7e755:2</mic.2Emhchen>
          <moses30623>cead63b3:2</moses30623>
          <nester19801126>193c4a85:2</nester19801126>
          <nidotimyu>b929fbfd:2</nidotimyu>
          <nowitzki0205>18dfe342:2</nowitzki0205>
          <orangestudip>881c6076:2</orangestudip>
          <park.2Eshirley>9938f2d0:2</park.2Eshirley>
          <park.2Eshirley1>1d55c0e3:2</park.2Eshirley1>
          <park_shirley15>7338b9f4:2</park_shirley15>
          <pennymarkfox>fc003925:2</pennymarkfox>
          <phyllis_wu>2857c63d:2</phyllis_wu>
          <q8q883369>94191e21:2</q8q883369>
          <rainboobow>cc68f66b:2</rainboobow>
          <rockwwww>51dc4557:2</rockwwww>
          <ryan_chen_tt>d26837c3:2</ryan_chen_tt>
          <sheena0111>3de26c67:2</sheena0111>
          <shengxuanyi>cdb8b058:2</shengxuanyi>
          <smr301>2b413d3d:2</smr301>
          <sophia.2Eliu12>ea0b8fb:2</sophia.2Eliu12>
          <starrkao>e7210910:2</starrkao>
          <stella.2Elu.2E1987>2e0490da:2</stella.2Elu.2E1987>
          <steven.2Eyeh2014>320da59f:2</steven.2Eyeh2014>
          <summeryutsun>843f55de:2</summeryutsun>
          <sunnyweekday>45c27734:2</sunnyweekday>
          <swallow0921>4dadaa31:2</swallow0921>
          <taco09>6429b139:2</taco09>
          <talktoclaranow>943d821e:2</talktoclaranow>
          <toby.2Etruetel>1083e2e6:2</toby.2Etruetel>
          <today7624>b06db520:2</today7624>
          <total.2Etriss57>37d60908:2</total.2Etriss57>
          <tsai471010tw>6d9236b5:2</tsai471010tw>
          <tsengyi2005>eefe48cb:2</tsengyi2005>
          <turingapprentice>fa12b495:2</turingapprentice>
          <tzuchi57>70aa52c8:2</tzuchi57>
          <victor20141120>6dcc1425:2</victor20141120>
          <viktor86gluck>5661d831:2</viktor86gluck>
          <vince_lin18>2733d5b1:2</vince_lin18>
          <volatiliser>64f49d9f:2</volatiliser>
          <wanggiyans>353599c2:2</wanggiyans>
          <waterwater11221>43dabab5:2</waterwater11221>
          <wayre2000>b45ab4eb:2</wayre2000>
          <wenchen.2Ecsw>b3730dff:2</wenchen.2Ecsw>
          <wolf765312002>b335ad31:2</wolf765312002>
          <wtfyucheng>cac05ca4:2</wtfyucheng>
          <wysiwyg54>cdb9c93c:2</wysiwyg54>
          <yannbelief>4c50a592:2</yannbelief>
          <zhaojinzhi01>66357671:2</zhaojinzhi01>
          <zsu0915>b4a58e32:2</zsu0915>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>3</Migration>
    </Contacts>
    <Conversation>
      <ConversationStatistics>
        <ConnectivityTimeStamp>1461550078</ConnectivityTimeStamp>
        <TimeStamp>1461550078</TimeStamp>
      </ConversationStatistics>
      <CreationTimestampFixed>1</CreationTimestampFixed>
      <DupeLegacyDeleted2>1</DupeLegacyDeleted2>
      <GivenDisplaynameFixed>1</GivenDisplaynameFixed>
      <GroupChatStatisticsEvent>
        <TimeStamp>1461121033</TimeStamp>
      </GroupChatStatisticsEvent>
      <IsBlockedFixed>1</IsBlockedFixed>
      <LastMessageIdFixed3>1</LastMessageIdFixed3>
      <PermanenceFixed>1</PermanenceFixed>
      <PruningHorizon>1461550063</PruningHorizon>
      <RecentlyLiveTimeout>0</RecentlyLiveTimeout>
      <UpdateConversationsInboxMessageIdFromLastMessage>1</UpdateConversationsInboxMessageIdFromLastMessage>
    </Conversation>
    <DynContent>
      <LastIpCountry>tw</LastIpCountry>
      <S>
        <LastTime>1460607276</LastTime>
      </S>
      <UILang>zh-Hant</UILang>
    </DynContent>
    <FileTransfer>
      <SavePath>/home/simonhuang</SavePath>
    </FileTransfer>
    <MSNPCore>
      <HomeServer>BAYMSGR2011712.gateway.messenger.live.com</HomeServer>
      <NewThreadAllowed>1</NewThreadAllowed>
      <P2PMigrationAllowed>0</P2PMigrationAllowed>
      <ProtocolToUse>24</ProtocolToUse>
      <RecentConnectionInfo>BAYMSGR2011712.gateway.messenger.live.com@2016-04-25T02:07:45Z,BAYMSGR2011712.gateway.messenger.live.com@2016-04-25T06:54:10Z,BAYMSGR2011712.gateway.messenger.live.com@2016-04-25T07:58:31Z,BAYMSGR2011712.gateway.messenger.live.com@2016-04-25T08:09:09Z,BAYMSGR2011712.gateway.messenger.live.com@2016-04-25T08:12:39Z,</RecentConnectionInfo>
      <RecentConversationsSyncState>17a81bd6eb500100000000000000000000b6e68e3ac2e4b2040a000000623935323034303033346cdbd1f23e0100000289fceb38510100002684b91753010000953dbb185301000096417a4c540100000289fceb38510100002684b91753010000953dbb185301000096417a4c5401000001000000000000000096417a4c5401000001a81bd6eb5001000096417a4c540100000000000000000000</RecentConversationsSyncState>
    </MSNPCore>
    <Notification>
      <LastID>1000000544</LastID>
      <LastPoll>1461550063</LastPoll>
      <LastSearch>1461575248</LastSearch>
    </Notification>
    <PM>
      <pslut>1461550063</pslut>
    </PM>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>410A00AA02000087200000AE200000AB2000008B20D48AA0B30505B9204102030039355F370003003939395F3700009E2006008220DAFCB7B805008920B388F7B80500FC01B71F</PermaProps>
    </PropsManager>
    <PushNotifications>
      <PK>x63b96e5849660f569da6647d9c48b16f3340bb86c3be310304de7fda41b97eff348ce36ce5c4fcd52d459aa17058130ef0ac1f2b4f325ed044061d5bfd4f920da7b16f2a</PK>
    </PushNotifications>
    <Sms>
      <CliOptions>4106002313032D434C49204F4B000134000000000000000001350000000000000000003600053B410401370000000006F8BFEE033838383639323136383533323300003902003A01</CliOptions>
      <CliOptionsFetchedOK>0</CliOptionsFetchedOK>
      <CliOptionsVersion>2</CliOptionsVersion>
    </Sms>
    <StatsSender>
      <Phase2>
        <LastCollect>1461550364</LastCollect>
        <ProposedDelivery>1461603098</ProposedDelivery>
        <SendSequence>50</SendSequence>
      </Phase2>
      <SubmitID>985</SubmitID>
      <Type2SubmitID>
        <_1>967</_1>
        <_35>4</_35>
        <_43>16</_43>
      </Type2SubmitID>
    </StatsSender>
    <table_insert_history>
      <_1c50fa9147bfdaaaf8ee5b2caf8e1fb2541bab6a1f968df1cff452a8463f2531>1461658361 21369:21600:1461571961 17515:21600:1461571961 44568:28800:1461571961 29062:21600:1461571961 2147485153:86400:1461571961</_1c50fa9147bfdaaaf8ee5b2caf8e1fb2541bab6a1f968df1cff452a8463f2531>
    </table_insert_history>
  </Lib>
  <UI>
    <API>
      <Authorizations></Authorizations>
      <BlockedPrograms></BlockedPrograms>
    </API>
    <AnimateEmoticons>1</AnimateEmoticons>
    <CaptureDevice>Virtual device</CaptureDevice>
    <ConversationsWindow>
      <Height>704</Height>
      <SplitterLayout>300</SplitterLayout>
      <Width>1366</Width>
      <X>0</X>
      <Y>64</Y>
    </ConversationsWindow>
    <LastSendPath>/home/simonhuang/tmp</LastSendPath>
    <Notifications>
      <Enable>
        <SkypeLogin>0</SkypeLogin>
      </Enable>
    </Notifications>
    <RingDevice>Virtual device</RingDevice>
    <SoundDevice>Virtual device</SoundDevice>
    <TransferWindow>
      <Height>240</Height>
      <NoCancelConfirmation>1</NoCancelConfirmation>
      <Width>480</Width>
      <X>801</X>
      <Y>528</Y>
    </TransferWindow>
  </UI>
</config>
